@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.header-icons-styles {
  @apply w-[2.8rem] aspect-square bg-white flex justify-center items-center rounded-full hover:scale-110 duration-300 ease-in-out active:scale-90 cursor-pointer;
}

.selected-icon-style {
  @apply text-white bg-gray-700;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #bbbbbb;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transform: rotate(270deg);

  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #363737;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #575757;
  cursor: pointer;
}

canvas#canvas {
  position: absolute;
  top: 20px;
  left: 0;
  cursor: crosshair;
  z-index: -1;
  touch-action: none;
}
html {
  -webkit-tap-highlight-color: transparent;
}
